body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/imsb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.order-list-container,
.add-order-container,
.update-order-container {
    padding: 20px;
    background-color: rgba(139, 69, 19, 0.9); 
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
}


.add-order-form,
.update-order-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.form-field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-field label {
    margin-bottom: 5px;
    color: #5a2d0c; 
    font-weight: bold;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.stock-button {
    padding: 10px;
    background-color: #5a2d0c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.stock-button:hover {
    background-color: #9c4d0e; 
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
